<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Yurika Tsuruda ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Yurika Tsurudaのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Yurika Turudaのポートフォリオサイトです" />
  <title>Yurika Tsuruda ポートフォリオ</title>
  <link rel="preconnect" href="http://fonts.gstatic.com">
  <link
    href="http://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+Garamond&family=Dancing+Script&display=swap"
    rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="./css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="./css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">



    <main class="content">

      <!-- header -->
      <header class="header">
        <div class="header-inner">
          <p class="header-title">Yurika Tsuruda</p>
          <p class="header-subtitle">Portfolio</p>
        </div>

      </header>
      <!-- /header -->

      <!-- gnav -->
      <nav class="gnav">
        <div class="gnav-inner">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="#works">Works</a></li>
            <li class="gnav-item"><a href="#skill">Skill</a></li>
            <li class="gnav-item"><a href="#about">Profile</a></li>
            <li class="gnav-item"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- /gnav -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="inner">
          <h2 class="title">works</h2>
          <div class="works-list">
            <a class="works-item" href="works-template.html">
              <p class="works-img"><img src="../images/works-sample-thumb.jpg" alt="" /></p>
              <p class="works-name">FOOD-TRUCK</p>
              <p class="works-info">Design / Coding(Responsive)</p>
            </a>
            <a class="works-item" href="works-template.html">
              <p class="works-img"><img src="img/works-dummy-thumb.jpg" alt="" /></p>
              <p class="works-name">furima-38710</p>
              <p class="works-info">Design / Coding(Responsive) / WordPress</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="inner">
          <h2 class="title">Skill</h2>
          <div class="skill-list">
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">HTML5/CSS3</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">WordPress</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">JavaScript</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Photoshop</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Illustrator</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">XD</h3>
                <p class="skill-text">
                  テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /skill -->

      <!-- profile -->
      <section class="about section" id="about">
        <div class="inner">
          <h2 class="title">Profile</h2>
          <div class="profile">
            <p class="profile-img">
              <img tag="profile.jpeg">
            </p>
            <div class="profile-body">
              <p>
                はじめまして。私は鶴田佑理香と申します。<br>
                これまで美容サロンの営業業務や通信事業でのBtoBカスタマー業務に従事しておりました。<br>
                オンラインスクール卒業後、独学でプログラミング学習をしております。
            </div>
          </div>
        </div>
      </section>
      <!-- /profile -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="inner">
          <h2 class="title">Contact</h2>
          <p class="lead">
            お問い合わせは、<br class="sp-only">SNSかメールにてお願いいたします。
          </p>
          <div class="contact-list">
            <a class="contact-item" href="https://twitter.com/" target="_blank" rel="noopener">Twitter</a>
            <a class="contact-item" href="https://www.instagram.com/" target="_blank" rel="noopener">Instagram</a>
            <span class="contact-item">yuricka.0705.0629@gmail.com</span>
          </div>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Yurika Tsuruda</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="js/script.js"></script>
</body>
</html>